.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: .1;
}

.tab-pane {
    -fx-tab-min-width:30px;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
	-fx-focus-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
	
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: rgba(39,182,196,0.9);
}

/*.button{
	-fx-background-color: #27b6c4; 
	-fx-border-radius: 4px;
	-fx-cursor: hand;
	-fx-text-fill: #ffffff;
	-fx-font-size: 10px;
	-fx-font-family: "Tahoma";
	-fx-font-weight: bold;
}

.button:hover{
	-fx-background-color: #1d8893;
	
}*/